*{
  margin: 0;
  padding: 0;
}
body{
font-family: "cursive";
background-image: url("https://i.pinimg.com/originals/f1/6d/a2/f16da2c8115484b9b907a830723e5ffa.gif");
background-repeat: no-repeat;
background-size: cover;
}
.table-striped{
width: 100%;
}
.bha{
width: 450px;
margin-left: 37%;
font-size: 50px;
margin-top: 20px;
text-align:center;
font-family: 'Pacifico', 'cursive';
font-weight: bold;
margin-bottom: 30px;
background: linear-gradient(to right,purple,blue,#ffeb07,green,brown,rgb(252, 36, 72),purple);
-webkit-text-fill-color: transparent;
background-clip: text;
}
.dropdown-toggle{
font-size: 2rem;
position: relative;
color: aliceblue;
}
.dropdown-menu{
background:linear-gradient(to right,yellow,green,rgb(85, 185, 224),rgb(230, 66, 93)) ;
}
div ul a:hover{
  color: #ffeb07;
}
.quickbooking{
  font-size: 30px;
  margin-left:80%;
margin-bottom: -50px;
}
.quickbooking a{
  color: aliceblue;
}
.quickbooking a:hover{
  color: yellow;
  text-decoration: none;
  font-size: 30px;

}
.lookover{
  font-size: 2rem;
  margin-left: 15px;
  color: rgb(245, 150, 9);
}
p a:hover{
color:#ffeb07 ;
font-size: 10px;
text-decoration: none;
}
.nav2{
  border: 2px solid blue;
  display:block;
  width: 40%;
  margin:3px auto;
  top:10px;
}
.nav2 a{
  color: ivory;
  text-decoration: none;
}
.nav2 ul{
  display: inline-block;
}
.nav2 li{
  display: list-item;
}
.nav3{
  border: 2px solid red;
  display: inline-block;
}
.footer{
  background-color: cornsilk;
  padding: 10px;
  margin-top:18px;
  height: 128px;
  border: chartreuse 4px solid;
}
.cont{
  color: maroon;
  font-size: 40px;
  text-decoration: underline;
}
.no{
  color: black;
font-size: 20px;
}
td a{
color: aliceblue;
font-family: cursive;
}
.link{
  text-decoration:none;
  display: ruby;
}
td a:hover{
color:rgb(250, 164, 6);
text-decoration: none; 
}
td p{
  color:rgb(252, 252, 4);
  font-size: 20px;
}
.table-heading{
  color:black;
  font-size: 25px;
}
